@page "/"
@page "/index"
@using HatchPatchWeb2.Models
@inject NavigationManager Navigation
@using static HatchPatchWeb2.Models.DataConstants

<MudContainer>
    <MudPaper>
        <MudText Typo="Typo.h3" Align="Align.Center">
            Hatch Patch
        </MudText>

        <br />
        <MudDivider />
        <br />

        <MudPaper>
            <MudGrid>
                <MudTooltip Arrow="true" Placement="Placement.Bottom" Text="Get suggestions for a new patch!">
                    <MudButton Class="m-4" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(NewPatch)"
                        EndIcon="@Icons.Material.Filled.Note">
                        New Patch
                    </MudButton>
                </MudTooltip>
                <MudTooltip Arrow="true" Placement="Placement.Bottom" Text="Coming soon...">
                    <MudButton Class="m-4" Variant="Variant.Filled" Color="Color.Secondary"
                        EndIcon="@Icons.Material.Filled.MusicNote">
                        New Song
                    </MudButton>
                </MudTooltip>
                <MudTooltip Arrow="true" Placement="Placement.Bottom" Text="Add custom prompt lists/preferences">
                    <MudButton Class="m-4" EndIcon="@Icons.Material.Filled.Settings" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => Navigation.NavigateTo("settings"))">
                        Settings
                    </MudButton>
                </MudTooltip>
            </MudGrid>
        </MudPaper>


        <br />
        <MudDivider/>
        <br />
         
        <MudExpansionPanels MultiExpansion="true">
            @*TODO: Reserve for maybe some future patch pushing/online type stuff?*@
@*            <MudExpansionPanel IsInitiallyExpanded="true">
                <TitleContent>
                    <MudText Typo="Typo.h6">Newest (by you!)</MudText>
                </TitleContent>
                <ChildContent>
                    <MudGrid>
                        @{
                            foreach(var patch in Patches.OrderByDescending(p => p.PatchModified).Take(3))
                            {
                                <MudItem md="4" sm="6" xs="12">
                                    <HatchPatchWeb2.Components.PatchCard 
                                        Patch="patch" DownloadClick="@DownloadPatch" EditClick="@EditPatch" />
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </ChildContent>
            </MudExpansionPanel>*@
            <MudExpansionPanel IsInitiallyExpanded="true">
                <TitleContent>
                    <MudText Typo="Typo.h6">All Patches</MudText>
                </TitleContent>
                <ChildContent>
                    <MudTable Items="Patches" Hover="true" Filter="new Func<SavedPatch, bool>(PatchFilter)" Class="pt-2">
                        <ToolBarContent>
                            <MudGrid Class="py-2">
                                <MudItem md="7">
                                    <MudTextField @bind-Value="patchSearchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"></MudTextField>
                                </MudItem>
                                <MudItem md="5" Class="pb-2">
                                    <MudChipSet  SelectedValuesChanged="(val) => SelectedPatchTypeValuesChanged(val)" SelectedValues="selectedPatchTypeValues" MultiSelection="true">
                                        @foreach (var pt in PatchTypes)
                                        {
                                            <MudChip Value="pt.Name" Default="false" Variant="Variant.Text" Text="@pt.Name" Color="Color.Default" SelectedColor="@pt.Color">@pt.Name</MudChip>
                                        }
                                    </MudChipSet>
                                </MudItem>
                            </MudGrid>
   
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Name</MudTh>
                            <MudTh>Synth</MudTh>
                            <MudTh>Types</MudTh>
                            <MudTh>Color</MudTh>
                            <MudTh></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Name">@context.Name</MudTd>
                            <MudTd DataLabel="Synth">@context.Suggestions.Synth</MudTd>
                            <MudTd DataLabel="Types">
                                @foreach (var pt in context.PatchTypes)
                                {
                                    <MudChip Color="@pt.Color">@(pt.Name)</MudChip>
                                }
                            </MudTd>
                            <MudTd DataLabel="Color">
                                <div style="min-width: 100%; min-height: 100%; background-color: @(context.Suggestions.Color);">
                                </div>
                            </MudTd>
                            <MudTd>
                                <MudButton OnClick="@(() => EditPatch(context.Id.ToString()))" Variant="Variant.Filled" Color="Color.Primary">Edit</MudButton>
                                @if ((context.PatchData?.Length ?? 0) > 0 && !String.IsNullOrWhiteSpace(context?.PatchFileName))
                                {
                                    <MudButton Variant="Variant.Text" Color="Color.Info" OnClick="@(() => DownloadPatch(context))">Download Patch</MudButton>
                                }
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                </ChildContent>
            </MudExpansionPanel>
            <MudExpansionPanel>
                <TitleContent>
                    <MudText Typo="Typo.h6">All Songs</MudText>
                </TitleContent>
                <ChildContent>
                    Coming soon...!
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudPaper>
</MudContainer>
        